<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-container classes="container-1 flex">
  <app-info-card *ngIf="inData | async as item" [condition]="item" class="item">
  </app-info-card>
</app-container>
<app-container classes="container-1 flex">
  <a (click)="onUpdate()" color="accent" mat-button="">
    Adatok Frissítése
  </a>
  <a (click)="onDelete()" color="warn" mat-button="">
    Adatok Törlése
  </a>
</app-container>



