<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-container>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <mat-form-field class="max-width">
      <mat-label>Beteg neve</mat-label>
      <label>
        <input focus formControlName="subjectName" matInput placeholder="Rug Tapasz" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Panasz</mat-label>
      <label>
        <input focus formControlName="category" matInput placeholder="Hasi fájdalom" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Súlyosság</mat-label>
      <label>
        <input focus formControlName="severity" matInput max="10" min="0" placeholder="0-10" type="number">

      </label>
      <mat-hint align="end">0-10</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Probléma helye</mat-label>
      <label>
        <input focus formControlName="bodySite" matInput placeholder="Lép alatt">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Probléma okozója</mat-label>
      <label>
        <input focus formControlName="encounterName" matInput placeholder="Konyhai kés">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Státusz</mat-label>
      <label>
        <input focus formControlName="clinicalStatus" matInput placeholder="Meggyógyult">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Sérülés Dátuma</mat-label>
      <label>
        <input formControlName="onsetDateTime" matInput type="date">
      </label>
      <!--<mat-datepicker-toggle matSuffix [for]="hurt"></mat-datepicker-toggle>-->
      <!--      <mat-datepicker #hurt></mat-datepicker>>-->
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Felvétel Dátuma</mat-label>
      <label>
        <input formControlName="recordedDate" matInput type="date">
      </label>
      <!--      <mat-datepicker-toggle matSuffix [for]="up"></mat-datepicker-toggle>-->
      <!--      <mat-datepicker #up></mat-datepicker>-->
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Felvevő nővér neve</mat-label>
      <label>
        <input focus formControlName="recorder" matInput placeholder="Mother of God" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="max-width">
      <mat-label>Kezelőorvos neve</mat-label>
      <label>
        <input focus formControlName="asserterName" matInput placeholder="Dr.Akula">
      </label>
    </mat-form-field>
    <br>
    <div style="display: flex; justify-content: flex-end;">

      <button [disabled]="form.invalid" color="accent" mat-raised-button type="submit">Feltöltés</button>
    </div>
  </form>
</app-container>

